body{
  background-color: #fdf8f2;
  text-align: center;
}

footer{
  background-color: #686868;
  color: white;
  text-align:right;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.vignette{
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 30px;
    margin: auto;
}

.vignette a{
  color: black;
}
.vignette img{
  width: 200px;
  height: 150px;
  border: 1px solid black;
}
